/* --------------------------------------------------------
Template: passport custom

last modified: 2015/04/15
author: Jeanine Schoessler
email: jeanine@montana.edu
website: http://www.montanapbs.org
----------------------------------------------------------*/
@charset "utf-8";
@import "http://fonts.googleapis.com/css?family=Noto+Serif:400,700|Open+Sans:400,700";
/* CSS Document */
body { font-family: "Open Sans", Verdana, Geneva, sans-serif; line-height: 1.6em; font-weight: 400; color:#222; }
body .right-rail, body .right-rail p, body .right-rail li { font-size: 14px; }
p, li, td, th, dd, dt, dl, input, .page-content div { line-height: 1.6em; font-weight: 400; font-size:14px; }

.promo-container .promo h2 { font-size:1.2em;}

.explorer .text-plugin li { font-size: 14px; font-weight: 400 }
.explorer.passport header { background-color: #957b7c; background: #957b7c url('http://bento.cdn.pbs.org/hostedbento-prod/filer_public/images2/structure/backgrounds/MontanaPBS-HeaderApricotBackgroundLg.jpg') repeat top left; }
div#flexi-sponsors { padding: 0; margin: 0 auto; max-width: 960px; }
footer.container.content-wrapper { background: #ffffff; padding: 15px; border-top: 1px solid #dddddd; }
.explorer.passport .header-action-bar #station-logo { margin: 2px 0; }
.explorer.passport .header-action-bar { height: 135px; }
.explorer.passport .header-action-bar .header-image {
width: 490px;
height: 100%;
background-position: 100% 50% !important;
float: right;
}


.explorer.passport .header-action-bar .donate-btn {
padding: 10px 28px;
margin: 20px 290px 30px 0;
background: #541357 url('http://pbs.bento.storage.s3.amazonaws.com/hostedbento-prod/filer_public/images2/structure/backgrounds/PurpleDonateButton-notext.jpg') repeat top center;
 
 text-transform: uppercase;
font-size: 14px;
letter-spacing: .03em; 

}
.explorer.passport .header-action-bar .donate-btn:hover {

}
#pbs_tvschedules_modules-whatson-station_0_feed_0, #pbs_tvschedules_modules-whatson-footer_links_preferences { display:none;}
.explorer.passport header { height: inherit; }
/*.explorer.passport header .header-logos { display: block; }*/
.explorer.passport .header-logos.pull-right { text-align: left; position: relative; background: #efefef; padding: 6px 0; }
.passport a, .passport a:hover { color: #541357; }
.page-content, .right-rail {padding-top: 18px; }
.page-content a, .right-rail a, .content-wrapper a { text-decoration:underline; }
.page-content li, .right-rail li, .content-wrapper li { padding-bottom:3px;}

.explorer .text-plugin h1, .explorer .text-plugin h1 a, .explorer .text-plugin h2, .explorer .text-plugin h2 a  { color: #541357; font-weight:bold;}
.explorer .text-plugin h1 a,  .explorer .text-plugin h2 a, #viewerguide h2 a, #whatson_header  {  text-decoration: none; font-weight: 400;}
.explorer .text-plugin h1 a:hover,  .explorer .text-plugin h2 a:hover, #viewerguide h2 a:hover, #whatson_header a:hover, .container .right-rail .box h2 a:hover { color: #FC6}
 .content-wrapper .blog-title a, .explorer .text-plugin .blog-title h1 a { text-decoration:none !important;}
table td, table th { vertical-align:top; padding: 3px 10px 3px 0; }
 @media (max-width: 959px) {
.explorer.passport .extra-header .header-logos li { float: left !important; margin-left: 1px; margin-right: 0; }
}
body.explorer.passport, body.explorer.passport .fake-bg { background-color: #fdfdfd; background: #fdfdfd url(http://pbs.bento.storage.s3.amazonaws.com/hostedbento-prod/filer_public/images2/structure/backgrounds/bubbles-bk3.png) repeat top center; background-size: 150%; }
/* Elements */
#viewerguide img { float: left; padding: 5px 20px 10px 0; width: 40%; }
.promo-container .promo .read-more, .promo-container.vertical .promo .read-more{ position: relative; right: inherit; bottom: inherit; text-align: right; /* more */ text-transform:uppercase; font-size: .9em; font-weight: bold;}
.promo-container .promo .read-more a, .read-more a { color: #541357;   font-weight: bold; font-size:1em;}
.container .right-rail .box h2 { font-size: 19px; font-weight: 400; color: #fff; margin: -15px -15px 10px -15px; padding: 15px; background: #444; }
.container .right-rail .box h2 a { color: #fff; text-decoration:none;  }
.promobanner { margin-bottom: 15px; }
.promobanner a { display: block; }
.passport a:hover { color: darkmagenta; }
/* TV Guide */
.pbs_tvschedules_modules-whatson-module_header_date_container, .pbs_tvschedules_modules-whatson-module_header { border-bottom: 0 !important; }
.pbs_tvschedules_modules-whatson-module_day, .pbs_tvschedules_modules-whatson-module_date { display: inline-block !important; padding-right: 5px !important; font-size: 14px !important; color: #333 !important; font-family: Arial, Helvetica, sans-serif; margin-left: 5px !important; }
.pbs_tvschedules_modules-whatson-module_day { border-right: 1px solid #333 !important; }
.pbs_tvschedules_modules-whatson-module_header { font-weight: bold !important; padding: 0 !important; text-transform: capitalize !important; }
/*.pbs_tvschedules_modules-whatson-timeblock_tabs */
.pbs_tvschedules_modules-whatson-timeblock_tab_on { background-color: #5cc5e3 !important; background: #5cc5e3 !important; color: #fff !important; text-align: center !important; font-weight: bold; }
.pbs_tvschedules_modules-whatson-footer_links { border-top: 0 !important; }
.pbs_tvschedules_modules-whatson-feed_id_open, .pbs_tvschedules_modules-whatson-feed_program_time, .pbs_tvschedules_modules-whatson-feed_program_title, .pbs_tvschedules_modules-whatson-feed_program_episode { font-size: 12px !important; }
.pbs_tvschedules_modules-whatson-feed_programs { background-color: #edf6fb !important; }
.pbs_tvschedules_modules-whatson-footer_links a:link, .pbs_tvschedules_modules-whatson-footer_links a:visited, .pbs_tvschedules_modules-whatson-footer_links a:active,.pbs_tvschedules_modules-whatson-footer_links a,.pbs_tvschedules_modules-whatson-footer_links a:hover { font-size: 10px;}
/* CUSTOM SITE THEME */
.explorer.passport header div.main-menu .navbar li.divider-vertical {  /*   margin-right: -7px;   */}
.explorer.passport .main_color { background-color:#222 !important; }
.explorer.passport .flexible-footer { background-color: #fcf4ea; }
.passport .main-menu .active, .passport .main-menu li:hover, .passport .main-menu li.open, .passport .main-menu li:hover ul li a:hover { background-color: #541357 !important; color:#fff; }
.explorer.passport header div.main-menu .navbar li .dropdown-menu li a:hover { border-top:1px solid #541357; }
.passport .border-bottom-4px { border-bottom: 4px solid #222; }
.border-top-6px, .dthumbs { display:none; }
.promo-container p { color:#585858; font-size:1em;}
.pg_container div .main-image-description { height: auto;}

#programaz .programlist ul li { padding: 5px;}

/* buttons */
.right-rail .button { background:#222;margin: 0 0 7px;}
.right-rail .button.programbutton {background:#635262; padding: 5px 15px;}
.right-rail .button.button_watch { 
background:#222 url(http://pbs.bento.storage.s3.amazonaws.com/hostedbento-prod/filer_public/images2/structure/icons/buttons/watch.png) center left no-repeat;}
.right-rail .button.button_dvd {
background:#222 url(http://pbs.bento.storage.s3.amazonaws.com/hostedbento-prod/filer_public/images2/structure/icons/buttons/dvd.png) center left no-repeat;}
.right-rail .button.button_pressroom {   
background:#222 url(http://pbs.bento.storage.s3.amazonaws.com/hostedbento-prod/filer_public/images2/structure/icons/buttons/pressroom.png) center left no-repeat; }
.right-rail .button .title {display:block; margin:3px 0 0; padding:5px 0 10px 62px; color:#fff; font-size:20px;font-family:EauSansBook, Arial, sans-serif;} 

.right-rail .button .title a { display:block; color:#fff; text-decoration:none;}
.right-rail .button .title a:hover { color:#FC6; text-decoration:none;}
.right-rail .button .desc {margin:0 12px; display:block; color:#cad4d4!important; font-weight:bold;}
.right-rail .series-links { list-style: none; padding: 0; margin: 0;}
.right-rail .series-links li {float: left; width: 27%; padding: 10px 3% 0 3%; text-align: center;}
.right-rail .series-links li a { display:block;}
/* mobile */
@media (max-width: 959px) {
.explorer.passport header div.main-menu .navbar li .dropdown-menu li a:hover { border-top: 0; }
.explorer.passport header div.main-menu .nav-collapse .nav > li.active ul li a { color: #333 !important; }


.explorer.passport header div.main-menu .nav-collapse .nav > li .dropdown-menu { visibility:hidden; }
.explorer.passport header div.main-menu .nav-collapse .nav > li.open .dropdown-menu { visibility:visible; }

  .explorer.passport header.in div.main-menu .nav-collapse.collapse, .explorer.passport.in header div.main-menu .nav-collapse.collapse {
 position:relative;
  }
  
  header #station-logo { line-height:60px;}
  

}



/* CUSTOM SHOW THEME */
/* ====== theme_11thGrantwithEricFunk ======= */
body.explorer.passport.theme_11thGrantwithEricFunk { background: #01111e url('http://pbs.bento.storage.s3.amazonaws.com/hostedbento-prod/filer_public/images2/pressroom/11thGrantwithEricFunk/web/EGNT%20Background.jpg') center 120px no-repeat;}
.explorer.passport.theme_11thGrantwithEricFunk header { background-color: #01111e;background-image: none;  } 
.explorer.passport.theme_11thGrantwithEricFunk .header-action-bar .donate-btn {
background: #bf2802 url('http://pbs.bento.storage.s3.amazonaws.com/hostedbento-prod/filer_public/images2/structure/backgrounds/RedDonateButton-notext.jpg') repeat top center;}
.explorer.passport.theme_11thGrantwithEricFunk .page-content a {color: #012f6d;}  
.explorer.passport.theme_11thGrantwithEricFunk .page-content a:hover { color:#000}

.explorer.passport.theme_11thGrantwithEricFunk .main-menu .active, 
.explorer.passport.theme_11thGrantwithEricFunk .main-menu li:hover, 
.explorer.passport.theme_11thGrantwithEricFunk .main-menu li.open, 
.explorer.passport.theme_11thGrantwithEricFunk .main-menu li:hover ul li a:hover {
background-color: #012f6d !important;}
.explorer.passport.theme_11thGrantwithEricFunk .right-rail .button.programbutton{background:#4b5767; }

.explorer.passport.theme_11thGrantwithEricFunk .text-plugin h1, 
.explorer.passport.theme_11thGrantwithEricFunk .text-plugin h1 a, 
.explorer.passport.theme_11thGrantwithEricFunk .text-plugin h2, 
.explorer.passport.theme_11thGrantwithEricFunk .text-plugin h2 a  { color:#012f6d;}

.explorer.passport.theme_11thGrantwithEricFunk .right-rail .text-plugin h2, 
.explorer.passport.theme_11thGrantwithEricFunk .right-rail .text-plugin h2 a { color:#fff;}
/* end 11th */




/* Schedule Override */
#scheduleV .schedulesMenu .schedulesTime {background-color: #541357; }
#scheduleV .schedulesContent .schedulesRow .calendarEntry { background-color: #eee; color: #541357; }
h1.bentoTitle {color: #541357; font-weight:bold;}
#scheduleV #schedulesList .left,#scheduleV .rightSide .right,.scheduleControls .button { background-color:#222;}


/* blog */
.cms-blogger .blog-header #blog-title, .blog-title h1, .explorer .text-plugin h1 { font-size: 28px !important; line-height: 1.5em; }
.cms-blogger .blog-header #blog-title, .blog-title h1 { margin:15px; padding:0;}
 .cms-blogger .blog-header #blog-title { padding: 0 !important; }

.explorer .text-plugin h1 a, .explorer .text-plugin h2 a {
text-decoration: none;
}

/* item box - staff */
.item-box { margin-bottom:15px;}
.item-box-additional {float:left;width:30%;}

.item-image img {width:100%;max-width:inherit;height:auto;}
.item-box-additional_notimplemented a { float:left; width:20px;height:20px;display:block; padding:3px;}
.item-box-description { width: 60%; float:left; padding-left:15px;}
.item-box-subtitle p, .item-box-title h3{padding:0 0 2px 0;margin:0; float:left;clear:both; width:100%;}
.item-box-subtitle p {color: #333;}
.item-box-more p { font-size: 13px; padding-top:10px;}
.ou-item-box-small .item-box-additional { width:15%;}
.ou-item-box-small .item-box-description { width:75%; }

table.table_dark td, table.table_light td { border: 1px solid #ccc; border-collapse: collapse; padding: 5px;}
table.table_dark.underlinetd td td { border:0; border-bottom: 1px solid #eee;}
table.table_light, table.table_dark {  border: 1px solid #000; margin-bottom: 5px; background: #fff; }
table.table_light { border:1px solid #ccc;}
table.table_dark td.active { padding: 4px; margin: 0; text-align: center; background-color: #C8CEDD; border: 1px solid #5C6C96; color: #003f7f; font-size: 15px; font-family: Georgia, "Times New Roman", Times, serif; }
table.table_dark th { background-color: #333; color: #efefef; padding: 3px; text-align: center; }
table.table_light th { color: #333; background-color:#eee; padding: 3px; text-align: center; }
table.table_light th a, table.table_dark th a {text-decoration:none; color:inherit; }
table.table_light th a:hover, table.table_dark th a:hover { text-decoration:underline;}
table.table_dark th p { color: #efefef; }
table.table_dark td.time { background-color: #ddd; padding: 3px; text-transform: uppercase; font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; border-right: 1px solid #000; border-left: 1px solid #000; }
table.table_light caption, table.table_dark caption { text-align: left; font-weight: bold; font-size: 16px; padding: 30px 0 4px 0; color: #226bb7; line-height: 24px; }
table.noborder, table.noborder td { border: 0; background: transparent; background-color: transparent; }

footer .funders .funder-image { height:120px;}


.explorer.passport header div.main-menu {
border-top: 0;
}


@media (min-width: 960px) {
.explorer.passport .extra-header .header-logos { margin: 4px 0; }
}
/* Hide while we still use TV API 1 
.scheduleControls, #scheduleV, #schedListView { display:none;}
*/

::selection {
  background: #635262;color:#fff;  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #635262; color:#fff; /* Gecko Browsers */
} 

/* blog */

.cms-blogger .blog-header #blog-tagline {
 color:#eee !important;
  position: absolute !important;
  bottom: 10px !important;
}
.cms-blogger .blog-header #blog-tagline * { color:#eee !important; }
.cms-blogger .blog-header #blog-banding-image { min-height:80px;}